body {
    background: var(--bg-light);
    font-family: "Tajawal", sans-serif;
}

.main-area {
    margin-top: 110px;
    padding: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.status-select {
    padding: 5px;
    border-radius: 5px;
}
.section-box {
    background: white;
    padding: 22px;
    border-radius: var(--radius);
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    margin-bottom: 35px;
    transition: 0.2s;
}

.section-box h2 {
    margin-bottom: 18px;
    font-size: 22px;
    color: var(--blue-dark);
}

.sub-title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--blue-dark);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: var(--blue-main);
}

table th {
    text-align: left;
    padding: 12px;
    font-size: 15px;
    color: white;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #d6dcec;
    font-size: 15px;
}

.status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
}

.status.new {
    background: #d0ecff;
    color: var(--blue-dark);
}

.status.pending {
    background: #fff4cc;
    color: #b58a00;
}

.status.done {
    background: #dbffe2;
    color: #1a7c2e;
}

.btn-small {
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 14px;
    background: #e7eef7;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    color: var(--blue-dark);
}

.btn-small:hover {
    background: var(--blue-light);
    color: white;
}

.btn-small.blue {
    background: var(--blue-main);
    color: white;
}

.btn-small.blue:hover {
    background: var(--blue-dark);
}

.btn-small.red {
    background: #e84545;
    color: white;
}

.btn-small.red:hover {
    background: #c62828;
}

.product-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    gap: 15px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 6px;
    color: var(--blue-dark);
}

.input-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cfe0f4;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: var(--blue-main);
    box-shadow: 0 0 5px rgba(11, 116, 209, 0.3);
}

.btn-add {
    background: var(--blue-main);
    border: none;
    border-radius: 10px;
    padding: 0 18px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    background: var(--blue-dark);
}

.product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}


