body {
    padding-top: var(--navbar-height);
    padding-bottom: var(--footer-height);
    display: block;
    min-height: 100vh;
    background: #eef2ff;
    font-family: Arial, sans-serif;
    height: 120vh;
    background-image: url('https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(7, 59, 120, 0.55),
    rgba(7, 59, 120, 0.55)
  ); 
  backdrop-filter: blur(3px);
  z-index: -1;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    padding: 30px 15px;
}

.signup-box {
    background: white;
    width: 380px;
    max-width: 95%;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border: 2px solid #ddd;
    margin: 0 auto;
}

.signup-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-box input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    font-size: 15px;
    background-color: #f9f9ff;
    transition: 0.3s;
}

.signup-box input:focus {
    border-color: #6c63ff;
    background-color: #ffffff;
    outline: none;
}

.signup-box button {
    width: 100%;
    padding: 12px;
    background: #0b74d1;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-box button:hover {
    background: #584dff;
}

.login {
    margin-top: 12px;
    font-size: 14px;
}

.login a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}
